<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Simple Notes App</title>
    </head>


    <body>
        <h1>Simple Notes App</h1>
        
        <p>Welcome {{user.username}}!</p>

        <p>
        <form action="/logout/" method="POST">
            {% csrf_token %}
            <input type="submit" value="Log Out"/>
        </form>
        </p>

        <h2>Your notes</h2>
        <form action="/notes/" method="GET">
            {% csrf_token %}
            <input type="text" name="search_text" value="{{search}}" size="100"/>
            <input type="submit" value="Search"/>
        </form>

        <ul>
            {% for n in notes %}
            <li>
                {% url 'view note' n.id as view_note_url %}
                <a href="{{ view_note_url }}" >{{n.note_name}}</a>
            </li>
            {% endfor %}
        </ul>


        <h2>Create note</h2>

        <form action="create/" method="POST">
            {% csrf_token %}
            <label>Note name</label>
            <input type="text" name="note_name" maxlength="30" size="40"/><br/><br/>
            <label>Content</label>
            <textarea name="note_content" maxlength="500" wrap="soft" cols="100"></textarea><br/><br/>
            <input type="submit" value="Create"/>
        </form>

    </body>
</html>
